<div class="pt-2">
    {% with messages = get_flashed_messages(category_filter=["saved"]) %} 
        {% if messages %} 
            {% for message in messages %}
                <div class="alert alert-success alert-dismissable text-center" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">&times;</span></button>
                        {{message}}
                </div>
            {% endfor %} 
        {% endif %}
    {% endwith %}
</div>