{% extends 'layout/base.html' %} {% block content %}

<div class="container">
  <form action="{{ url_for('insert_review') }}" method="POST">
    <div class="row pt-5">
      <!-- game image section -->
      <div class="col-md-5 m-auto text-center">
        <img
          src="{{ coverBig }}"
          class="img-fluid box-shadow border-radius-sm thick-border"
          alt="image of video game cover"
        />
      </div>
      <!-- end of game image section -->

      <!-- game details input section -->
      <div class="col-md-7">
        <h1 class="heading py-4">Add Review</h1>
        <div class="form-group">
          <label for="game_title">Game Title</label>
          <input
            class="form-control thick-border border-radius-sm"
            name="game_title"
            type="text"
            value="{{ gameTitle }}"
            readonly
          />
        </div>
        <div class="form-group d-none">
          <label for="game_title">Lowercase Title</label>
          <input
            class="form-control thick-border border-radius-sm"
            name="title_lower"
            type="text"
            value="{{ title_lower }}"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="genres">Genres</label>
          <input
            class="form-control thick-border border-radius-sm"
            name="genres"
            type="text"
            value="{{ genreNames }}"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="platforms">Platforms</label>
          <input
            class="form-control thick-border border-radius-sm"
            name="platforms"
            type="text"
            value="{{ platformNames }}"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="release_date">Released</label>
          <input
            class="form-control thick-border border-radius-sm"
            name="release_date"
            type="text"
            value="{{ release_dates }}"
            readonly
          />
        </div>
        <div class="form-group d-none">
          <label for="game_title">Image URL</label>
          <input
            class="form-control thick-border border-radius-sm"
            name="image_url"
            type="text"
            value="{{ coverBig }}"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="rating">Rating</label>
          <select
            class="form-control thick-border border-radius-sm"
            name="rating"
            required
          >
            <option value="">How was it?</option>
            <option value="Awful">Awful</option>
            <option value="Meh">Meh</option>
            <option value="Decent">Decent</option>
            <option value="Good">Good</option>
            <option value="Amazing!">Amazing!</option>
          </select>
        </div>
        <div class="form-group d-none">
          <label for="reviewed_by">Reviewed by</label>
          <input
            class="form-control thick-border border-radius-sm"
            name="reviewed_by"
            type="text"
            value="{{session['username']}}"
            readonly
          />
        </div>
      </div>
      <!-- end of game details input section -->
    </div>
    <div class="row">
      <!-- game review input section -->
      <div class="col-lg-12">
        <div class="form-group pt-3">
          <textarea
            class="form-control thick-border border-radius-sm"
            name="review"
            rows="6"
            maxlength="5000"
            placeholder="Write your review here... (5000 characters max)"
            required
          ></textarea>
          <div class="text-center my-4">
            <button class="btn green-btn rounded-pill mx-1" type="submit">
              Submit
            </button>
            <a
              href="{{url_for('browse_reviews')}}"
              class="btn purple-btn rounded-pill mx-1"
              role="button"
              >Cancel</a
            >
          </div>
        </div>
      </div>
      <!-- end of game review input section -->
    </div>
  </form>
</div>

{% endblock %}
