{% extends 'layout/base.html' %} {% block content %}

<div class="container">
  <div class="row pt-5">
    <!-- Review list section -->
    <div class="col-lg-6">
      <div class="media pt-5">
        <img
          src="static/images/droid.png"
          class="img-fluid w-25 mr-3 pt-5"
          alt="droid"
        />
        <div class="media-body pt-5">
          <h2 class="mt-0 heading">Browse</h2>
          <h6 class="font-weight-light">recently added user submitted reviews</h6>
        </div>
      </div>

      {% include 'components/messages/added.html' %}  

      {% for review in reviews|reverse %}
      <div class="list-group rounded-pill box-shadow my-2 text-center thick-border">
        <a href="{{url_for('get_review', review_id=review._id)}}" class="list-group-item list-group-item-action">
            <h6 class="font-weight-bold mb-1">{{review.game_title}}</h6>
          <p class="mb-1">
            "{{review.rating}}"
          </p>
          <small>Reviewed by: <span class="font-weight-bold">{{review.reviewed_by}}</span></small>
        </a>
      </div>
      {% endfor %}
    </div>
    <!-- End of review list section -->

    <!-- Search game section  -->
    <div class="col-lg-6">
      {% include 'components/searchbox.html' %}
    </div>
    <!-- End of search game section -->
  </div>
</div>

{% endblock %}
