{% extends 'layout/base.html' %} {% block content %}

<div class="container pt-5">
	<div class="row">
		<div class="col-lg-6 text-center py-5">
        {% include 'components/messages/signedup.html' %}
			<h1 class="pt-4 heading">Welcome</h1>
            <h2 class="pb-4">{{session['username']}}</h2>
            <div class="btn-positioning btn-w-30">
                <a href="{{url_for('manage_reviews')}}" class="btn pink-btn my-3 rounded-pill">Manage</a>
                <a href="{{url_for('logout')}}" class="btn green-btn my-3 rounded-pill">Logout</a>
            </div>
		</div>


		<div class="col-lg-6 pt-5">
			{% include 'components/searchbox.html' %}
		</div>
	</div>
</div>
{% endblock %}