{% extends 'layout/base.html' %} {% block content %}
<div class="container">
  <div class="row">
    <!-- Login form section  -->
    <div class="col-lg-6 text-center py-5">
    {% include 'components/messages/noaccount.html' %}
    {% include 'components/messages/invalid.html' %}
      <h1 class="pb-3 heading">Login</h1>
      <form method="POST" action="{{url_for('login')}}">
        <div class="form-group">
          <input
            type="text"
            class="form-control narrow-input-fields thick-border border-radius-sm"
            name="username"
            placeholder="Username"
            aria-describedby="username"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control narrow-input-fields thick-border border-radius-sm"
            name="password"
            placeholder="Password"
            required
          />
        </div>
        <div class="btn-positioning btn-w-30 pt-4">
            <button type="submit" class="btn green-btn thick-border rounded-pill">Login</button>
        </div>
      </form>
      <p class="pt-4 text-muted">Don't have an account yet?</p>
      <div class="btn-positioning btn-w-30">
        <a href="{{url_for('signup_page')}}" class="btn purple-btn rounded-pill">Sign Up</a>
      </div>
    </div>
    <!-- End of login form section -->

    <!-- Image section -->
    <div class="col-lg-6">
      <div class="card search-box-style pt-5 pb-2">
        <img
          src="static/images/arcade.png"
          class="img-medium mx-auto d-block pb-2"
          alt="Gamepads"
        />
        <img
          src="static/images/joystick.png"
          class="img-medium mx-auto d-block pb-2"
          alt="Gamepads"
        />
      </div>
    </div>
    <!-- End of image section -->
  </div>
</div>

{% endblock %}
