{% extends 'layout/base.html' %} {% block content %}

<div class="container pt-5">
  <div class="row pt-5">
    <!-- Review list section -->
    <div class="col-lg-6">
      <div class="media">
        <img
          src="static/images/droid.png"
          class="img-fluid w-25 mr-3"
          alt="droid"
        />
        <div class="media-body">
          <h2 class="heading">Manage</h2>
          <h6>View, edit or delete your reviews here</h6>
        </div>
      </div>
    
      {% for review in reviews %}
        {% if session['username'] == review.reviewed_by %}
        <div class="list-group">
            <div class="list-group-item list-group-item-action my-1 text-center rounded-pill">
                    <h5 class="mb-1 py-1">"{{review.game_title}}"</h5>
                <a
                    href="{{url_for('edit_review', review_id=review._id)}}"
                    class="btn green-btn rounded-pill"
                    >Edit</a>
                <a
                    href="{{url_for('delete_review', review_id=review._id)}}"
                    class="btn btn-danger rounded-pill"
                    >Delete</a>
            </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
    <!-- End of review list section -->

    <!-- Search game section  -->
    <div class="col-lg-6 affix">
      {% include 'components/searchbox.html' %}
    </div>
    <!-- End of search game section -->
  </div>
</div>

{% endblock %}
