{% extends 'layout/base.html' %} {% block content %}
<div class="container pt-5">
	<div class="row pt-5">
		<div class="col-lg-6">
			<div class="media pt-5">
				<img
                    src="{{url_for('static', filename='images/droid.png')}}"
                    class="img-fluid w-25 mr-3 pt-5"
                    alt="droid"
                />
				<div class="media-body pt-5">
					<h2 class="mt-0 heading">Search Reviews</h2>
					<h6 class="font-weight-light">Here are some reviews matching your search</h6>
				</div>
			</div>
            {% for review in reviews %}
			{% if review.game_title == game_title %}
			<div class="list-group rounded-pill box-shadow my-3 text-center thick-border">
				<a href="{{url_for('get_review', review_id=review._id)}}"
					class="list-group-item list-group-item-action">
					<h6 class="font-weight-bold mb-1">{{review.game_title}}</h6>
					<p class="mb-1">
						"{{review.rating}}"
					</p>
					<small>Reviewed by: <span class="font-weight-bold">{{review.reviewed_by}}</span></small>
				</a>
			</div>
            {% endif %}
			{% endfor %}
		</div>

        <!-- Search game section  -->
        <div class="col-lg-6">
        {% include 'components/searchbox.html' %}
        </div>
        <!-- End of search game section -->
        
		<!-- <div class="col-lg-6">

			{% for review in reviews %}
			{% if review.game_title == game_title %}
			{{ review.game_title }}
			{{ review.genres }}
			{{ review.platforms }}
			{{ review.release_date }}
			{{ review.reviewed_by }}
			{% endif %}
			{% endfor %}
		</div> -->
	</div>
</div>

{% endblock %}