{% extends 'layout/base.html' %} {% block content %}
<div class="container">
  <div class="row pt-5">
    <div class="col-lg-6">
      <div class="media pt-5">
        <img
          src="static/images/droid.png"
          class="img-fluid w-25 mr-3"
          alt="droid"
        />
        <div class="media-body">
          <h2 class="mt-0 heading">Search</h2>
          <h6 class="font-weight-light">Is this what you were looking for?</h6>
        </div>
      </div>
      <div class="text-center pb-5">
        <form action="{{ url_for('add_review') }}" method="POST">
        <button
            type="submit"
            name="action"
            class="cover-btn"
          >
          <h5 class="font-weight-light py-2">{{ gameTitle }}</h5>
          <img
            src="{{ coverBig }}"
            class="img-fluid border-radius-sm thick-border"
            alt="game cover"
          />
          <div class="form-group">
            <input
              class="form-control thick-border border-radius-sm d-none"
              name="coverBig"
              type="text"
              value="{{ coverBig }}"
            />
          </div>
          <div class="form-group">
            <input
              class="form-control thick-border border-radius-sm d-none"
              name="gameTitle"
              type="text"
              value="{{ gameTitle }}"
            />
          </div>
          <div class="form-group">
            <input
              class="form-control thick-border border-radius-sm d-none"
              name="genreNames"
              type="text"
              value="{% for name in genreNames %}{{ name }} / {% endfor %}"
            />
          </div>
          <div class="form-group">
            <input
              class="form-control thick-border border-radius-sm d-none"
              name="platformNames"
              type="text"
              value="{% for name in platformNames %}{{ name }} / {% endfor %}"
            />
          </div>
          <div class="form-group">
            <input
              class="form-control thick-border border-radius-sm d-none"
              name="release_dates"
              type="text"
              value="{% for date in release_dates %}{{ date }} / {% endfor %}"
            />
          </div>
          </button>
          <!-- <button
            class="btn green-btn rounded-pill mx-3"
            type="submit"
            name="action"
          >
            Yes!
          </button>
          <a
            href="{{url_for('browse_reviews')}}"
            class="btn purple-btn rounded-pill mx-3"
            >No...</a
          > -->
        </form>
      </div>
    </div>
    <div class="col-lg-6 pt-5">
      {% include 'components/searchbox.html' %}
    </div>
  </div>
</div>

{% endblock %}
