{% extends 'layout/base.html' %} {% block content %}
<div class="container">
  <div class="row">
    <!-- Sign up form section  -->
    <div class="col-lg-6 text-center py-5">
      <h1 class="py-2">Create an Account</h1>
      <form method="POST" action="{{url_for('signup')}}">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="username"
            placeholder="Username"
            aria-describedby="username"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Password"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            name="confirm_password"
            placeholder="Confirm Password"
            required
          />
        </div>
        <button type="submit" class="btn btn-dark">Sign Up</button>
      </form>
    </div>
    <!-- End of sign up form section -->

    <!-- Image section -->
    <div class="col-lg-6">
      <div class="card search-box-style pt-5 pb-2">
        <img
          src="static/images/key.png"
          class="img-medium mx-auto d-block pb-2"
          alt="Gamepads"
        />
        <img
          src="static/images/handheld-game.png"
          class="img-medium mx-auto d-block pb-2"
          alt="Gamepads"
        />
      </div>
    </div>
    <!-- End of image section -->
  </div>
</div>

{% endblock %}
