{% extends 'layout/base.html' %} {% block content %}
<div class="container">
  <div class="row">
    <!-- Sign up form section  -->
    <div class="col-lg-6 text-center py-5">
      <h1 class="pb-3 heading">Create an Account</h1>
      <form method="POST" action="{{url_for('signup')}}">
        <div class="form-group">
          <input
            type="text"
            class="form-control narrow-input-fields"
            name="username"
            placeholder="Username"
            aria-describedby="username"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control narrow-input-fields"
            name="password"
            placeholder="Password"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control narrow-input-fields"
            name="confirm_password"
            placeholder="Confirm Password"
            required
          />
        </div>
        <div class="btn-positioning btn-w-30 pt-4">
            <button type="submit" class="btn purple-btn thick-border rounded-pill">Sign Up</button>
        </div>
      </form>
        {% include 'components/messages/userexists.html' %}

        {% include 'components/messages/nomatch.html' %}
    </div>
    <!-- End of sign up form section -->

    <!-- Image section -->
    <div class="col-lg-6">
      <div class="card search-box-style pt-5 pb-2">
        <img
          src="static/images/mobilegame.png"
          class="img-medium mx-auto d-block pb-2"
          alt="mobile game"
        />
        <img
          src="static/images/keyboard.png"
          class="img-medium mx-auto d-block pb-2"
          alt="keyboard"
        />
      </div>
    </div>
    <!-- End of image section -->
  </div>
</div>

{% endblock %}
