@import url("https://fonts.googleapis.com/css2?family=Monofett&family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  background-color: #fafafa;
  font-family: 'Roboto'
}

/* General styling */


/* Navbar */

.navbar-brand {
    font-family: 'Monofett', 'Roboto';
    font-size: 1.5rem;
}