@import url('https://fonts.googleapis.com/css2?family=Monofett&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

/* General styling */

.thick-border {
    border: 3px solid #000;
}

.thick-border-btm {
    border-bottom: 3px solid #000;
}

.box-shadow {
    box-shadow: 3px 3px #000;
}

.border-radius-sm {
    border-radius: 1rem;
}

/* Headings */

.heading {
    font-family: 'Monofett', 'Roboto';
    color: #000;
}

/* Images */

.img-style {
    border-radius: 0.5rem;
}

.img-medium {
    width: 50%;
}

/* Navbar */

.navbar-brand {
    font-family: 'Monofett', 'Roboto';
    font-size: 1.5rem;
}

/* Buttons */

.btn-positioning {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.cover-btn {
    border-style: none;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
}

.cover-btn:hover,
.cover-btn:focus {
    transform: scale(1.01);
    outline: none;
}

.cover-btn:active {
    transform: scale(0.99);
}

.pink-btn {
    background-color: #EF6C8F;
    color: #fff;
}

.pink-btn:hover {
    background-color: #000;
    color: #fff;
}

.purple-btn {
    background-color: #9038A8;
    color: #fff;
}

.purple-btn:hover {
    background-color: #000;
    color: #fff;
}

.green-btn {
    background-color: #20BDAD;
    border-color: #20BDAD;
    color: #fff;
}

.green-btn:hover {
    background-color: #000;
    border-color: #000;
    color: #fff;
}

.btn-danger:hover {
    background-color: #000;
    border-color: #000;
}

.btn-w-40 {
    width: 40%;
}

.btn-w-30 {
    width: 30%;
}

/* Sign up / Login forms */

.narrow-input-fields {
    width: 60%;
    margin: auto;
}

/* Search box section */

.search-box-style {
    border: none;
    margin: auto;
    width: 75%;
}