@import url("https://fonts.googleapis.com/css2?family=Monofett&family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  background-color: #fff;
  font-family: 'Roboto';
}

/* General styling */

/* Headings */

.landing-heading {
    font-family: 'Monofett', 'Roboto';
    font-size: 2.6rem;
}

.heading {
    font-family: 'Monofett', 'Roboto';
}

/* Images */

.img-style {
    border-radius: 0.5rem;
}

.img-medium {
    width: 40%;
}

/* Navbar */

.navbar-brand {
    font-family: 'Monofett', 'Roboto';
    font-size: 1.5rem;
}

/* Sign up / Login forms */

.btn-positioning {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.btn-w-40 {
    width: 40%;
}

.btn-w-30 {
    width: 30%;
}

.narrow-input-fields {
    width: 70%;
    margin: auto;
}

/* Search box section */

.search-box-style {
    border: none;
    color: #666;
    margin: auto;
    width: 75%;
}