{% extends 'base.html' %} {% block content %}

<div class="container">
  {% for review in reviews %}
  <div class="row">
    <div class="col-md-6">
      <img
        src="https://images.igdb.com/igdb/image/upload/t_cover_big/co22a9.jpg"
        class="img-fluid"
        alt="Responsive image"
      />
    </div>
    <div class="col-md-6">
      <p>Game Title: <span>{{review.game_title}}</span></p>
      <p>Genres: <span>{{review.genres}}</span></p>
      <p>Platforms: <span>{{review.platforms}}</span></p>
      <p>Release Date: <span>{{review.release_date}}</span></p>
      <p>Rating:</p>
    </div>
  </div>
  {% endfor %}
  <div class="row">
    <div class="col-lg-12">
      <form action="" method="POST">
        <div class="form-group">
          <textarea
            class="form-control"
            name="review"
            id="review"
            rows="6"
            placeholder="Write your review here"
          ></textarea>
          <button class="btn btn-dark" type="submit" name="action">Submit</button>
          <button class="btn btn-dark">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
