{% extends 'base.html' %} {% block content %}

<div class="container pt-5">
  <div class="row pt-5">
    <!-- Review list section -->
    <div class="col-lg-6">
      {% for review in reviews %}
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">"{{review.game_title}}"</h5>
          </div>
          <p class="mb-1">
            {{review.rating}}
          </p>
          <small>Reviewed by: {{review.reviewed_by}}</small>
        </a>
      </div>
      {% endfor %}
    </div>
    <!-- End of review list section -->

    <!-- Search game section  -->
    <div class="col-lg-6">
      <div class="card py-2">
        <div class="card-body text-center">
          Search for a game to read user-submitted reviews or submit your own
        </div>
        <form class="text-center form-inline my-2 mx-auto my-lg-0">
          <input
            class="form-control"
            type="search"
            placeholder="search games"
            aria-label="Search"
          />
        </form>
      </div>
    </div>
    <!-- End of search game section -->
  </div>
</div>

{% endblock %}
