<div class="card py-5 search-box-style">
  <div class="card-body text-center font-weight-light">
    {% if session['username'] %}
    <p>Search for a game to read user-submitted reviews or submit your own</p>
    {% else %}
    <p>Search for a game to read user-submitted reviews</p>
    <p>or create an account and login to submit your own</p>
    {% endif %}
  </div>
  <div class="row">
  <div class="col-4">
  <img
    src="static/images/handheld-game.png"
    class="img-fluid mb-4 mx-auto d-block"
    alt="handheld game"
  />
  </div>
  <div class="col-4">
  <img
    src="static/images/buttons.png"
    class="img-fluid mb-4 mx-auto d-block"
    alt="Gamepad buttons"
  />
  </div>
  <div class="col-4">
  <img
    src="static/images/hearts.png"
    class="img-fluid mb-4 mx-auto d-block"
    alt="hearts in speech bubble"
  />
  </div>
  </div>
  <form class="text-center form-inline mx-auto my-lg-0">
    <input
      class="form-control font-weight-light rounded-pill thick-border"
      type="search"
      placeholder="search games"
      aria-label="Search"
    />
  </form>
</div>
