<div class="card py-5 search-box-style">
  <div class="card-body text-center">
    {% if session['username'] %}
    <p>Search for a game to read user-submitted reviews or submit your own</p>
    {% else %}
    <p>Search for a game to read user-submitted reviews</p>
    <p>or create an account and login to submit your own</p>
    {% endif %}
  </div>
  <img
    src="static/images/gamepads.png"
    class="img-fluid w-25 mb-4 mx-auto d-block"
    alt="Gamepads"
  />
  <form class="text-center form-inline mx-auto my-lg-0">
    <input
      class="form-control rounded-pill"
      type="search"
      placeholder="search games"
      aria-label="Search"
    />
  </form>
</div>
